* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,body{
    height:100%;
  }

  body {
    background-color: rgba(244, 246, 248, 1);
  }

  .body-container {
    /* background-color: pink; */
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    /* border: 5px solid red; */
  }

  .landing-page {
    height: 100%;
    background-image: url("/assets/img.jpg"); 
    width: 100%;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

  .hero-text {
    padding: 5px;
    position: static;
    color: white;
    margin-top: 40vh;
    margin-left: 10vw;
    font-family: serif;
    font-weight: 200;
    z-index: 1;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.85);
    display: inline-block;
  }

  .about {
    padding: 5px;
    position: static;
    width: 80%;
    color: white;
    font-family: serif;
    font-weight: 200;
    z-index: 1;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.85);
    margin-left: 10vw;
    display: inline-block;
  }

  .get-started-btn {
    position: static;
    color: black;
    font-family: serif;
    font-weight: 200;
    z-index: 1;
    font-size: 32px;
    padding: 5px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #89c63c;
    width: 40%;
    margin-left: 30vw;
    margin-top: 1vh;
  }

  .get-started-btn:hover {
    background-color: #75aa33;
  }

  .header{
    background-color: #89c63c;
    width: 100%;
    height: 80px;
    position: fixed;
    clear: both;
    top: 0;
  }

  .logo {
    font-size: 55px;
    padding: 10px;
    display: inline-block;
  }

  .app-name {
    display: inline-block;
  }  

  .tool-bar{
    position: fixed;
    background-color: #2c2e31;
    color: white;
    display: inline-block;
    height: 100vh;
    width: 270px;
    max-width: 300px;
    padding: 5px;
    border: 1px solid rgb(204, 203, 203);
    margin-top: 0;
    clear: both;
  }

  .form {
    margin-top: 40px;
  }

  .users-text {
    font-size: 23px;
    font-weight: 500;
  }
  .number-of-users-input{
    display: block;
    width: 90%;
    height: auto;
    font-size: 23px;
    margin: 20px 0;
  }

  .filters-text {
    margin-bottom: 20px;
  }
  .optional-text {
    font-size: 12px;
    margin-left: 5px;
  }
  .gender-text {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
input[type="radio"] {
  margin-left: 15px;
}
  .nationality-text {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.5em;
  }

  .nationality-dropdown {
    display: block;
    width: 100%;
    font-size: 1.2em;
  }

  .generate-users-form {
    background-color: #89c63c;
    border-radius: 8px 8px;
    padding: 5px;
    border: none;
    display: block; 
    margin: 20px auto;
  }
  .default {
    font-size: 0.5em;
  }


  .main {
    /* background-color: yellow; */
    /* I promise it's there */
    height: auto;
    margin-top: 80px;
    margin-left: 270px;
    width: auto;
    text-align: center;
    overflow: hidden;
  }

  .user-container {
    width: auto;
    height: auto;
    border: red solid 5px;
    padding: 5px;
    margin-left: 0;
    overflow: hidden;
  }
  
  .user {
    height: auto;
    width: 50vw;
    min-width: 200px;
    max-width: 600px;
    background-color: #2c2e31;
    border: 3px solid #89c63c;
    display: inline-block;
    margin: 5px 5px;
    padding: 5px;
    color: #fff;
    border-radius: 5px 20px 5px;
  }
  /* out of user view */
  .mobile-form {
    position: absolute;
    /* top: -450px; */
    top: 20px;
    background-color: #2c2e31;
    width: 100%;
    color: rgba(204, 203, 203, 0.9)
  }
/* out of users view */
  .mobile-bars{
    position: absolute;
    right: -20px;
  }

  .active {
    top: -480px;
  }
/* ========================================================================= */
/*                          MObile views                                    */
/* ======================================================================== */

  @media screen and (max-width: 840px) {

    .main {
      background-color: yellow;
      height: 100%;
      position: absolute;
      
      margin-top: 0px;
      margin-left: 0;
      width: 100%;
      z-index: -2;
    }

    .user-container{
      margin-top: 80px;
      position: absolute;
      z-index: -1;
      /* margin: 0 auto; */
    }

    .mobile-bars {
      position: absolute;
      top: 20px;
      right: 3px;
      vertical-align: middle;
      display: inline;
    }

    /* .form {
      margin-top: 0;
    } */
    
    .user {
      width: 80vw;
    }

    /* .content{
      text-align: left;
    } */

    #mobile-info {
      margin-left: -20px;
      font-size: 15px;
      /* text-transform: capitalize; */
      text-align: left;
    }

    .landing-page {
      height: auto;
      background-image: url("/assets/img.jpg"); 
      width: 100%;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover; 
    }
    .header {
      margin-bottom: 0;
      z-index: 1;
    }

    .tool-bar {
      display: none;
    }

    .app-name{
      display: none;
    }

    .logo {
      font-size: 40px;
      margin: 0 auto;
      display: inline-block;
    }

    .more-actions {
      display: inline;
    }

  }

  /* end of mobile views */

  .user-img {
    border-radius: 100%;
    border: solid 5px #89c63c;
    height: 180px;
    width: 180px;
    margin: 10px auto;
    display: block;
  }
  
  .userFullName {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    overflow-x: hidden;
  }
  
  .content {
    height: auto;
    width: 240px;
    padding: 5px;
  }

  .user-info {
    margin-left: 10%;
    font-size: 15px;
    text-transform: capitalize;
    text-align: left;
  }

  .user-btn {
    background-color: #89c63c;
    border-radius: 8px 8px;
    padding: 5px;
    border: none;
    display: block; 
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .selector{
    text-align: left;
    width: 90%;
    margin: 15px auto;
    border: solid white 1.5px;
    border-radius: 10px 10px 10px 10px;
    padding: 7px;
  }
  
  .selector > i {
    display: inline-block;
    padding: 0px;
    border-radius: 50%;
  }
  
  .selector > p {
    display: inline-block;
    padding: 3px;
    font-size: 12px;
  }
  
  .notShowing {
    display: none;
  }

  .fa-times-circle {
    float: right;
    padding: 2px;
    font-size: 25px;
  }