* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html,body{
    height:100%;
  }

  body {
    background-color: rgba(244, 246, 248, 1);
  }

  .landing-page {
    height: 100%;
    background-image: url("/assets/img.jpg"); 
    width: auto;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    filter: blur(10px);
  }


  .header{
    background-color: #89c63c;
    width: 100%;
    height: 8vh;
    position: fixed;
    clear: both;
    top: 0;
  }

  .logo {
    font-size: 55px;
    padding: 10px;
    display: inline-block;
    /* width: 10vw; */
  }

  .app-name {
    display: inline-block;
    /* width: 10vw; */
  }  

  .search-box {
    display: inline-block;
    border: 1px solid gray;
    width: 50%;
    height: 50px;
  }
  .mag-glass {
    display: inline-block;
    width: 20%;
    float: right;
  }

    .main-search {
      display: inline-block;
      width: 80%;

    }

    .login {
      display: inline-block;
      /* float: right; */
      vertical-align: middle;
      /* width: 20vw; */

    }
    .login > p {
      margin-left: 10px;
      display: inline-block;
    }

  .tool-bar{
    position: fixed;
    background-color: pink;
    display: inline-block;
    height: 100vh;
    width: 20%;
    max-width: 300px;
    /* float: left; */
    border: 1px solid gray;
    margin-top: 0vh;
    clear: both;
    /* bottom: 0px; */
  }

  .main {
    /* background-color: yellow; */
    height: 100%;
    /* position: fixed; */
    margin-top: 8vh;
    /* display: inline-block; */
    margin-left: 20%;
    width: 80%;
  }
  
  .user {
    height: auto;
    width: 50vw;
    min-width: 400px;
    max-width: 600px;
    background-color: #2c2e31;
    border: 3px solid #89c63c;
    display: block;
    margin: 0.5% 0.5%;
    padding: 5px;
    float: left;
    color: #fff;
    border-radius: 5px 20px 5px;
    /* clear: both; */
  }

  /* mobile view */
  
  @media screen and (max-width: 840px) {
    .tool-bar {
      display: none;
    }
    .app-name{
      display: none;
    }
    .logo {
      font-size: 40px;
      
      margin: 0 auto;
      margin-left: 50%;
      display: block;
    }

    .more-actions {
      display: inline;
    }

    .search-box {
      display: none;
    }
    .login {
      float: right;
    }
  }


  .user-img {
    border-radius: 100%;
    border: solid 5px #89c63c;
    height: 180px;
    width: 180px;
    margin: 10px auto;
    display: block;
  }
  
  .userFullName {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    overflow-x: hidden;
  }
  
  
  .content {
    height: auto;
    width: 240px;
    padding: 5px;
  }
  .user-btn {
    background-color: #89c63c;
    border-radius: 8px 8px;
    padding: 5px;
    border: none;
    display: block; 
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .selector{
    /* background-color: pink; */
    width: 90%;
    margin: 15px auto;
    /* margin-top: 15%; */
    border: solid white 1.5px;
    border-radius: 10px 10px 10px 10px;
    padding: 7px;
  }
  
  .selector > i {
    display: inline-block;
    padding: 0px;
    border-radius: 50%;
    /* border: solid white 1px; */
  }
  
  .selector > p {
    display: inline-block;
    padding: 3px;
    font-size: 12px;
  }
  
  .notShowing {
    display: none;
  }

  .fa-times-circle {
    /* position: absolute; */
    float: right;
    padding: 2px;

    /* background-color: pink; */
    font-size: 25px;


  }